.about-me {
    display: flex;
    flex-direction: column; /* Stack header and description vertically */
    align-items: center; /* Center everything horizontally */
    justify-content: center;
    margin: 0px 30px;
    padding-bottom: 110px;
    text-align: center;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 65%;
    border-radius: 13px;
    padding: 20px 20px 40px 20px;
    border: thick double #4b4d4b;
}

.about-me-header {
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #4b4d4b;
    width: 100%;
    max-width: 800px;
    margin-bottom: 40px; /* Adds some space below the header */
}

.about-me-header-icon {
    display: flex;
    justify-content: center;
    height: 50px;
    flex-shrink: 0; /* Prevent the avatar from shrinking */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.about-me-header-title {
    text-align: center;
    padding-left: 70px;
}

.about-me-header-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%) /* Centered in the middle */

}

/* Description Section */
.about-me-description-container {
    max-width: 800px; /* Same width as the header */
    padding: 0 20px;
}

.about-me-description {
    font-size: 1.2rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

/* Optional: Media query for responsiveness */
@media (max-width: 768px) {
    .about-me-header {
        flex-direction: column; /* Stack avatar and title on small screens */
        text-align: center;
    }
    .about-me-header-icon {
        margin-bottom: 10px; /* Adjust space for small screens */
    }
}
