.navbar {
    /*display: flex;*/
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease, opacity 0.5s ease;
    background-color: transparent;
    backdrop-filter: blur(0);
    opacity: 1;
}

.nav-links.scrolled {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1; /* Fully visible when scrolled */
}

/* Navigation links */
.nav-links {
    padding: 20px 15px;
    border-radius: 50px;
    display: flex;
    list-style: none;
    margin: 15px 0;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li .active {
    background-color: rgba(255, 255, 255, 0.7);
}


.nav-links li a {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1.2em;
    color: #4b4d4b;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #3498db;
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 15px;
    }

    .nav-links li {
        margin: 10px 0;
    }
}
