.work-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 1200px;

    position: relative;
    overflow: hidden; /* Prevent image overflow during transition */
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.work-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 400px; /* Adjust height for readability */
}

.work-box {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    height: 95%; /* Ensure the box takes up full height */
    width: 70%; /* Adjust width for better layout */
    display: flex;
    padding: 15px 35px;
}

.work-box.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0) translateY(-50%); /* Centered in the middle */
    z-index: 2;
    width: 80%; /* Larger width for the active project */
    height: 100%;
}

.work-box.next {
    opacity: 0.7;
    visibility: visible;
    transform: translateX(100%) translateY(-50%); /* Position to the right */
    z-index: 1;
    /*width: 30%;*/
}

.work-box.prev {
    opacity: 0.7;
    visibility: visible;
    transform: translateX(-100%) translateY(-50%); /* Position to the left */
    z-index: 1;
    /*width: 30%;*/
}

.work-box.behind {
    opacity: 0.3;
    visibility: hidden; /* Hide the far-off projects */
}

.work-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-right {
    flex: 1;
    text-align: left;
    padding-left: 20px; /* Add some spacing between image and text */
}

.work-title {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 15px;
}

.work-description {
    font-size: 1.1em;
    color: #4b4d4b;
    line-height: 1.6;
}

.carousel-prev,
.carousel-next {
    font-size: 2em;
    background-color: transparent;
    border: none;
    color: #2c3e50;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    color: #3498db;
}
